fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
google-cloud-bigquery==3.29.0
google-cloud-storage==2.19.0
pandas==2.2.3
numpy==2.2.3
jinja2==3.1.5
pyyaml==6.0.2
requests==2.32.3
python-dotenv==1.0.1
db-dtypes==1.4.2